<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select resort</title>
    <link rel="stylesheet" href="./static/homepage/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-wrapper">
            <img src="./static/login/ski.png" alt="" class="logo">
        </div>
    </div>
    <div class="hero">
        <div class="wrapper">
            <div class="hero-content">
                <form action="/resort" method="get">
                    <input type="text" name="resort_name" placeholder="Resort name" class="hero-input">
                    <input type="submit" class="hero-button" value="search">
                </form>
                <!-- last searches block -->
                <div class="searches">
                    <ul class="searches-items">
                        {%for resort in history%}
                        <li class="searches-item">
                            <a href="http://127.0.0.1:5000/resort?resort_name={{resort}}">{{resort}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>