<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort Information</title>
    <link rel="stylesheet" href="./static/resort/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;900&display=swap" rel="stylesheet">

</head>
<body>
    <section class="info">
        <h1 class="resort-name">{{weather['location']['name']}}</h1>
        
        <div class="blocks-container">
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/temperature-high-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Temp</span>
                </div>
                <p class="block-data">{{weather['current']['temp_c']}}</p>
            </div>
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/umbrella-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Humidity</span>
                </div>
                <p class="block-data">{{weather['current']['humidity']}}</p>
            </div>
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/skiing-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Top Snow Depth</span>
                </div>
                <p class="block-data">{{snow['topSnowDepth']}}</p>
            </div>
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/skiing-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Ski Type</span>
                </div>
                <p class="block-data">{{ski_type}}</p>
            </div>
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/umbrella-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Clothes Type</span>
                </div>
                <p class="block-data">{{clothes_type}}</p>
            </div>
            <div class="info-block">
                <div class="block-title">
                    <img src="./static/resort/skiing-solid.svg" alt="" class="block-icon">
                    <span class="title-text">Buy Ski Pass</span>
                </div>
                <p class="block-data">
                    {% if website %}
                    <a href="{{website}}" class="buy">Click</a>
                    {% else %}
                    Not found
                    {% endif %}
                </p>
            </div>
            
        </div>
        {% if area_id %}
        <iframe class="map" src="https://openskimap.org/?obj={{area_id}}" frameborder="0"></iframe>
        {% endif %}
    </section>
</body>
</html>