* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded";
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 60px;
    text-align: center;
}

.logo-wrapper {
    background-color: white;
    padding: 18px;
    border-radius: 100px;
    display: inline-block;
}

.logo {
    height: 72px;
}


/* hero section */

.hero {
    height: 100vh;
    background-image: url("./bg.jpg");
    background-size: cover;
}

.hero-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form {
    width: 85%;
    display: flex;
}

.hero-input {
    background-color: white;
    border: none;
    font-size: 24px;
    padding: 24px 45px;
    width: 80%;
    border-radius: 10px 0 0 10px;
    opacity: 0.8;
    transition: 0.4s;
}

.hero-input:focus {
    outline: none;
    opacity: 1;
}

.hero-button {
    border: none;
    background-color: rgb(92, 92, 255);
    color: white;
    display: block;
    width: 20%;
    border: none;
    border-radius: 0 10px 10px 0;
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
    font-size: 24px;
}

.hero-button:hover {
    opacity: 1;
}

.searches {
    width: 85%;
}


.searches-items {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 10px;
}

.searches-item {
    width: 33.3%;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
}

.searches-item > a {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    padding: 40px 0;
}

.searches-item:hover {
    opacity: 1;
}

@media (max-width: 724px) {
    .hero-input, .hero-button {
        font-size: 18px;
    }

    .hero-input {
        padding: 18px 24px;
    }
}

@media (max-width: 483px) {
    form {
        flex-direction: column;
        gap: 24px;
    }

    .hero-input {
        width: 100%;
        border-radius: 10px;
    }

    .hero-button {
        border-radius: 10px;
        padding: 18px 24px;
        width: 100%;
    }
}

/* footer */

/* .footer {
    padding: 24px 0;
} */